@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(195, 195, 195, 0.3) 0px -5px 10px 0px inset;
    padding: 0 35px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

header .header__title{
    margin: 0;
}

nav{
    position: absolute;
    right: 35px;
}

.nav__links{
    display: flex;
    gap: 15px;
}
.nav__link{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}